<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>YTube</key>
	<string>AIzaSyD2t5Zp-mKAwrM8h3dBjfG2_fkA9BC0fzQ</string>
	<key>ParseClient</key>
	<string>RjnuOLeRozXsx2fzVXYo5Xu2YTslu6GrF8VRpFyw</string>
	<key>AppID</key>
	<string>257QSfnDrmGSk5BCgBIMJO3tzlwNlABkjZBaRT9K</string>
</dict>
</plist>
